# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.env.*
.venv/
venv/

# Build / Dist
build/
dist/
*.egg-info/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage
.coverage
coverage.xml
htmlcov/

